<div class="table-responsive container">
  <table class="table table-hover table-bordered table-condensed">
    <tr>
      <th>City</th>
      <th>Address</th>
      <th>Description</th>
      <th>Max Guests</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Price</th>
      <th>Availability</th>
      <th>Listed By</th>
      <th>Action</th>
    </tr>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.city %></td>
        <td><%= listing.address %></td>
        <td><%= listing.description %></td>
        <td><%= listing.num_guests %></td>
        <td><%= listing.num_bedrooms %></td>
        <td><%= listing.num_bathrooms %></td>
        <td><%= number_to_currency(listing.price, unit: "RM") %></td>
        <td><%= bool_to_icon(listing.availability) %></td>
        <td><%= link_to listing.user_email, user_path(listing.user) %></td>
        <td><%= link_to "Show", listing_path(listing) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 fixed">
      <h1>Search</h1>
      <%= form_tag("/search", method: "get") do %>
        <div class="form-group">
           <%= label_tag :city %>
            <input list="city" name="city" class="form-control">
              <datalist id="city">
                <%= options_for_select(@cities) %>
              </datalist>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div><%= label_tag :check_in_date %></div>
              <%= date_field_tag :check_in_date, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <div><%= label_tag :check_out_date %></div>
              <%= date_field_tag :check_out_date, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :num_guests, "Guests" %>
              <%= select_tag :num_guests, options_for_select(1..16), class: 'form-control', include_blank: true %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :num_bedrooms, "Bedrooms" %>
              <%= select_tag :num_bedrooms, options_for_select(1..16), class: 'form-control', include_blank: true %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :num_bathrooms, "Bathrooms" %>
              <%= select_tag :num_bathrooms, options_for_select(0..8), class: 'form-control', include_blank: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :min_price, "Min Price / Night" %>
            <div class="input-group">
              <div class="input-group-addon">RM</div>
              <%= number_field_tag :min_price, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :max_price, "Max Price / Night" %>
            <div class="input-group">
              <div class="input-group-addon">RM</div>
              <%= number_field_tag :max_price, class: 'form-control' %>
            </div>
        </div>
        </div>
        </div>
          <%= submit_tag "Search", class: "btn btn-info btn-lg" %>
      <% end %>
    </div>

    <div class="col-md-8">
    <% if @notice %>
      <h1 class="text-center" style="margin-top:200px"><%= @notice %></h1>
    <% end %>
      <div class="row">
        <% @listings.each do |listing| %>
          <div class="col-md-6 img-responsive listing-page">
          <% if listing.pictures.empty? %>
            <%= link_to listing_path(listing) do %>
              <%= image_tag("https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97450&w=600&h=450", class: 'img-responsive') %>
            <% end %>
          <% else %>
            <%= link_to listing_path(listing) do %>
              <%= image_tag(listing.pictures.first.resized.url, class: 'img-responsive') %>
            <% end %>
          <% end %>
          <p><strong><%= number_to_currency(listing.price, unit: "RM") %></strong> / night<br>
          <%= listing.city%> - <%= pluralize(listing.num_bedrooms, "bedroom") %> - <%= pluralize(listing.num_guests, "guest") %> </p>
        </div>
      <% end %>
      </div>
      <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>