<h1>Listings#index</h1>
<% unless current_user.tenant? %>
  <h2><%= link_to "Create new listing", new_listing_path %></h2>
<% end %>
<div class="table-responsive container">
  <table class="table table-hover table-bordered table-condensed">
    <tr>
      <th>City</th>
      <th>Address</th>
      <th>Description</th>
      <th>Max Guests</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Price</th>
      <th>Availability</th>
      <th>Listed By</th>
      <th>Action</th>
    </tr>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.city %></td>
        <td><%= listing.address %></td>
        <td><%= listing.description %></td>
        <td><%= listing.num_guests %></td>
        <td><%= listing.num_bedrooms %></td>
        <td><%= listing.num_bathrooms %></td>
        <td><%= number_to_currency(listing.price, unit: "RM") %></td>
        <td><%= bool_to_icon(listing.availability) %></td>
        <td><%= link_to listing.user.email, user_path(listing.user) %></td>
        <td><%= link_to "Show", listing_path(listing) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>All Listings</h1>
    </div>
  </div>

  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-md-6 img-responsive">
      <%= image_tag(listing.pictures.first.url, width: "500", height: "400") %>
    </div>
    <div class="col-md-6 img-responsive">
      <%= image_tag(listing.pictures.first.url, width: "500", height: "400") %>
    </div>
    <div class="col-md-6 img-responsive">
      <%= image_tag(listing.pictures.first.resized.url) %>
    </div>
    <% end %>
  </div>
</div>



<%= will_paginate @listings, renderer: BootstrapPagination::Rails %>