<h1>Listed by <%= link_to @listing.user_email, user_path(@listing.user) %></h1>

<h2><%= link_to "Make a Reservation", new_listing_reservation_path(@listing) %></h2>
<div id="calendar" style="width:50%">calendar</div>

<% @listing.pictures.each do |picture| %>
  <%= image_tag(picture.resized.url.to_s, width: "100%") %>
<% end %>
<%= render 'carousel', :listing => @listing %>

  <% @listing.reservations.each do |reservation| %>
    <p>This listing is reserved from <%= reservation.check_in_date %> to <%= reservation.check_out_date %> for nights.</p>
    <p><%= link_to 'Show', [@listing, reservation] %></p>
    <p><%= link_to 'Show', listing_reservation_path(@listing, reservation) %></p>
  <% end %>

  <strong>Title:</strong>
  <%= @listing.title %><br>

  <strong>City:</strong>
  <%= @listing.city %><br>

  <strong>Address:</strong>
  <%= @listing.address %><br>

  <strong>Description:</strong>
  <%= @listing.description %><br>

  <strong>Max Guests:</strong>
  <%= @listing.num_guests %><br>

  <strong>Bedrooms:</strong>
  <%= @listing.num_bedrooms %><br>

  <strong>Bathrooms:</strong>
  <%= @listing.num_bathrooms %><br>

  <strong>Price:</strong>
  <%= number_to_currency(@listing.price, unit: "RM") %><br>

  <strong>Availability:</strong>
  <%= bool_to_icon(@listing.availability) %><br>

<%= link_to 'Edit', edit_listing_path(@listing) %><br>
<%= link_to 'Back', listings_path %>